<ion-content padding class="getting-started">
  <h3>Edition de matrice :</h3>


  <ion-list>
    <ion-label>{{matrice.nom}}</ion-label>
    <form [ngFormModel]="editMatriceForm" (submit)="testEdit()">
      <ion-item *ngFor="#ligne of matriceIndexee">
        <ion-input *ngFor="#elem of ligne" type="number" value="" [(ngModel)]="elem.val" ngControl="champ"></ion-input>
      </ion-item>
    </form>
  </ion-list>

  <button type="submit" (click)="testEdit()" [disabled]="!editMatriceForm.valid">test</button>
  <button type="button" (click)="annuler()">Annuler</button>
</ion-content>
