<ion-content padding class="getting-started">
  <h3>Loi normale </h3>
  <button type="button" (click)="annuler()">Retour</button>

  <form [ngFormModel]="normaleForm" (submit)="calculLoiNormale()">
    <ion-list>
      <p>Écart-type: </p>
      <ion-item>
        <ion-input type="number" step="0.001"  ngControl="ecartType"></ion-input>
      </ion-item>

      <p>Espérance: </p>
      <ion-item>
        <ion-input type="number" step="0.001"  ngControl="esperance"></ion-input>
      </ion-item>

      <button type="button" (click)="showAddIntervalModale()">Définir intervalle</button>
      <p *ngIf="interval.length > 0">intervalle: {{probasFactory.intervalToString(interval)}}</p>

    </ion-list>

    <div padding>
      <button block type="submit" [disabled]="!normaleForm.valid">Calculer</button>
    </div>
  </form>

  <p *ngIf="exec"> La probabilité que X prenne une valeur sur l'intervalle {{probasFactory.intervalToString(interval)}} est {{resultProba.toFixed(3)}}</p>

</ion-content>
