<ion-content padding class="getting-started">
  <h3>Loi uniforme </h3>
  <button type="button" (click)="annuler()">Retour</button>
  <ion-list>
    <button type="button" (click)="showAddIntervalModale()">Définir premier intervalle</button>
    <p *ngIf="interval1.length > 0">intervalle 1: {{probasFactory.intervalToString(interval1)}}</p>
    <p *ngIf="interval1.length > 0">Soit une variable aléatoire X dans l'intervalle {{probasFactory.intervalToString(interval1)}},
      la densité de probabilité vaut : {{probasFactory.loiUniforme1(interval1).toFixed(2)}}</p>
    <button *ngIf="interval1.length > 0" type="button" (click)="showAddInterval2Modale()">Définir second intervalle</button>
    <p *ngIf="interval2.length > 0">intervalle 2: {{probasFactory.intervalToString(interval2)}}</p>
    <p *ngIf="interval2.length > 0">Soit une variable aléatoire X dans l'intervalle {{probasFactory.intervalToString(interval1)}},
      pour tout x appartient à cet intervalle, la probabilité que x appartienne à l'intervalle {{probasFactory.intervalToString(interval2)}} est: {{probasFactory.loiUniforme2(interval1, interval2).toFixed(2)}}</p>
  </ion-list>
</ion-content>
